{% extends '__base__.html' %}

{% block title %}aboutme{% endblock %}

{% block content %}

		<div class="uk-grid" width="100%">
				<div class="uk-width-1-10"></div>
				<div class="uk-width-8-10">
						<div href="" class="uk-width-medium-1-2"></div>
				</div>
				<div class="uk-width-1-10"></div>
		</div>



    <div style="background-color:powderblue;" class="uk-width-medium-3-4 uk-row-first">
			<img alt="Minimal" src="https://aboutme.imgix.net/background/users/h/a/i/haiyangzhao_1473082806_49.jpg" height="800" width="1200">
			<div class="uk-margin-large">
				<div class="uk-margin-large" style="text-align: center;">
					<button class="uk-button uk-button-primary" type="button" data-uk-button>
						<a class="uk-button-primary" href="http://oceanpad.github.io" type="button">Visit My Blog</a>
					</button>
				</div>
				<h3 style="text-align: center;" id="features">AboutMe</h3>
				<ul style="text-align: center;" >
					<p>Hey there, I’m haiyang. I’m a web developer living in singapore. I am a fan of technology, photography, and innovation. I’m also interested in web development and programming. You can visit my website with a click on the button above.</p>
				</ul>
			</div>
				<div class="uk-margin-large" style="text-align: center;">
					<a href="https://github.com/oceanpad" target="_blank" class="uk-icon-large uk-icon-github"></a>
					<a href="http://oceanpad.github.io" target="_blank" class="uk-icon-large uk-icon-home"></a>
					<a href="http://oceanpad.github.io" target="_blank" class="uk-icon-large uk-icon-twitter"></a>
				</div>
		</div>

{% endblock %}
